.header {
   position: relative;


   &__bg {
      position: absolute;
      background-color: #9f9acf;
      z-index: -100;
      min-width: 100%
   }
   &__container {
      @include make-container();
      @include make-container-max-widths($container-max-widths, $grid-breakpoints);
   }
   &__img {
      opacity: 0.5;
      max-height: 1070px;
      min-width: 100%;
   }
   &__row {
      padding-top: 35px;
      @include make-row();
      justify-content: space-between;

   }
   &__logo {
      height: 74px;
      width:  57px;
   }
   &__nav {
      padding-top: 20px;
       
   }
   &__navItem {
      padding: 0 15px;
      @include font-style(18px, 400, $font-pt, #ffffff);

      text-transform: uppercase;
      transition: font-size 0.5s;
      &:hover {
         text-decoration: none;
         @include font-style(19px, 400, $font-pt, #ffffff);
      }
   }
}
