
  /**********************/ 
 /****** GRID  *********/
/**********************/
//@import "bootstrap";
//@import "../../../node_modules/bootstrap/scss/mixins/grid";
//$xs-min: "only screen and (min-width:none)";
//$xs-max: "only screen and (max-width:520px)";
//$xs-sm: "only screen (min-width: none) and (max-width:767px)";
//
//$sm-min: "only screen and (min-width:768px)";
//$sm-max: "only screen and (max-width:991px)";
//$sm-md: "only screen (min-width: 768px) and (max-width:991px)";
//
//$md-min: "only screen and (min-width:992px)";
//$md-max: "only screen and (max-width:1199px)";
//$md-lg: "only screen (min-width: 992px) and (max-width:1199px)";
//
//$lg-min: "only screen and (min-width:1200px)";
//$lg-max: "only screen and (max-width:none)";
//
////@include make-container();


/**********************/ 
 /****** FONTS *********/
/**********************/
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700|Raleway:300i,400,700');
     
       //font: _PT-sant_   
$font-pt: 'PT Sans', sans-serif;
      //font: _Raleway_(proxima Nova)
$font-rlw:'Raleway', sans-serif;

 /****** FONT - colors *********/



/****** FONT - MIXINS *********/

@mixin font-style($fontSize, $fontWeight, $fontFamily, $color) {
   font: {
      size: $fontSize;
      weight: $fontWeight;
      family: $fontFamily;
   }
   color: $color;
}


  /**********************/ 
 /******  BODY *********/
/**********************/
body {
     background-color: #ebebeb;
}